@page "/results"

@using AHT.Data
@inject WeatherForecastService ForecastService

<h1>Informes</h1>

<p>Historial de informes obtenidos.</p>

@if (forecasts == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fecha Emisión</th>
                <th>RUT Paciente</th>
                <th>Nombre Paciente</th>
                <th>Factura</th>
                <th>Informe</th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (var forecast in forecasts)
            {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.TemperatureF</td>
                <td><a>@forecast.Summary</a></td>
            </tr>
            }*@
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
